.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fb9ba4;
    background-color: rgba(255, 255, 255, 0.914);

    .navbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right-side {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .nav-links {
                margin-right: 20px;
    
                ul {
                    display: flex;
    
                    li {
                        margin-left: 20px;
                        list-style: none;
                        
                        a.active {
                            color: #DB1E32;
                        }
                    }
                }
            }
    
            .nav-language {
                .dropdown-menu {
                    position: relative;
                    cursor: pointer;

                    .menu {
                        .menu-options {
                            display: none;
    
                            button {
                                width: 120px;
                                border: 1px solid #eee;
                                background-color: #fff;
                                display: flex;
                                padding: 5px;
                                align-items: flex-start;
                                justify-content: space-between;
                                cursor: pointer;
                            }
                        }

                        &:hover .menu-options {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            right: 3px;
                            border: 1px solid #eee;
                        }
                    }
                }
            }
        }
    }
}
